@import "tailwindcss";

/* Custom styles for Chrome Extension */
body {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.btn {
   @apply bg-blue-700 hover:bg-blue-900 text-gray-100 hover:text-gray-50 transition-all rounded shadow cursor-pointer px-4 py-2;
}

.main {
   @apply relative flex flex-col items-center justify-center min-h-screen text-gray-50 gap-5;
}

.form {
   @apply relative w-[min(90svw,1000px)] h-fit px-10 py-8 pt-0 bg-black/20 rounded-xl;
}
